﻿@model GodwariHotelRoomBooking.Models.RoomBooking

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoomBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookedDateFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookedDateFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookedDateTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookedDateTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvancePayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvancePayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmountPayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmountPayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotel.HotelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel.HotelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.RoomType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
