﻿@model IEnumerable<GodwariHotelRoomBooking.Models.RoomBooking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookedDateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedDateTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvancePayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmountPayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.HotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookedDateFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedDateTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvancePayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmountPayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.HotelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingId })
        </td>
    </tr>
}

</table>
