﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Room Booking</h1>
    <p class="lead">Customer</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Customer","Index","Customers")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("RoomBooking", "Index", "RoomBookings")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Room", "Index", "Rooms")</h2>
    </div>
</div>