﻿@model IEnumerable<GodwariHotelRoomBooking.Models.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.HotelName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.HotelName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomNo })
        </td>
    </tr>
}

</table>
